.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.DS_Store
.gitignore
.yarnrc
*.vsix
diff-view.jpg
esbuild.js
res/**
scripts/esbuild.mts
snapshot.png
vsc-extension-quickstart.md
**/tsconfig*.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
